@import '../../styles/colors';
#single-post{
  justify-content: space-around;
  .single-post {
    width: 100%;
    margin-top: 20px;
    transition: height 1s ease;
  }
  
  .related-posts {
    margin-top: 20px;
    transition: height 1s ease;
  }
}
