@import '../../styles/colors';

#text-area-post {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: $secondary;

  ::-webkit-input-placeholder {
    color: $surface;
  }
  ::-moz-placeholder {
    color: $surface;
  }
  :-ms-input-placeholder {
    color: $surface;
  }
  :-moz-placeholder {
    color: $surface;
  }

  .text-area-post {
    width: 100%;
    min-width: 400px;
    max-width: 100%;
    padding: 20px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: $surface;
    border: none;
    outline: none;
    background-color: transparent;
    overflow: auto;
    resize: none;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 1rem 1.2rem 1rem;
    position: 'relative';
    i {
      color: $surface;
      margin: 0 0.5em;
      font-size: 1.5em;
      cursor: pointer;
    }
    span {
      color: $surface;
      margin: 0 0.5em;
      font-size: 1.5em;
      cursor: pointer;
    }
  }

  .post-action {
    display: flex;
    flex-direction: row;
    align-items: center;

    .number-character {
      font-size: 0.8em;
      margin-right: 1rem;
      cursor: auto;
    }
  }

  #emoji {
    width: 0px;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .image {
    display: block;
    position: relative;

    img {
      height: 35px;
      width: 40px;
      margin: 0 1em 0.2em 1.4rem;
      vertical-align: sub;
      cursor: pointer;
      object-fit: cover;
    }
    .remove-image {
      background-color: $primary;
      color: #fff;
      cursor: pointer;
      position: absolute;
      left: 3.3em;
      top: -0.4em;
      height: 17px;
      width: 17px;
      border-radius: 50%;
    }

    span {
      position: absolute;
      top: -0.2rem;
      left: 0.2em;
    }
  }
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.post-category {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  h3 {
    margin-bottom: 1.3rem;
  }
  i {
    margin: 0 10px;
  }
}
