@import '../../styles/colors';

h1 {
  font-size: 5em;
}
.home-page{
  padding-top: 20px;
}
.side-container {
  background-color: white;
  margin-bottom: 20px;
  &__header {
    font-size: 1.1rem;
    padding: 1rem;
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    span {
      display: inline-block;
      width: 40px;
      color: rgba(0, 0, 0, 0.8);
      i {
        font-size: 1rem;
        margin-right: 1rem;
        color: inherit;
      }
    }

    padding: 0.8rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover,
    &.active {
      background-color: lighten($secondary, 60);
    }
  }
}
