@import '../../styles/colors';

.share-post {
  background: #fff;
  border-radius: 3px;
  width: 50%;
  min-width: 300px;
  max-width: 600px;

  &__header {
    font-size: 1.5rem;
    color: $secondary;
    padding: 10px;
    text-align: center;
  }

  .SocialMediaShareButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social_share {
    text-align: center;
    margin: 10px;
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }

    .social_logo {
      display: inline-block;
      height: 25px;
      width: 25px;
      margin: 0;
      padding: 2px;
      box-sizing: border-box;
    }
    .social_name {
      display: inline-block;
      margin: 0px 5px 0px 0;
      padding: 5px;
      vertical-align: top;
      font-weight: bold;
      color: #fff;
      font-size: 0.9em;
      font-family: arial;
      box-sizing: border-box;
    }
  }
  #twitter {
    background: #1fa1f1;
  }
  #twitter img {
    background: #fff;
    height: 20px;
    width: 20px;
    padding: 2px;
    margin-right: 5px;
    border-radius: 50%;
  }
  #facebook {
    background: #4266b2;
  }
}
