.social-auth {
  background-color: #fff;
  width: 30vw;
  min-width: 200px;
  max-width: 300px;
  padding: 20px;

  p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 700;
    font-size: 1.5em;
  }

  span {
    font-size: 0.9em;
    color: #666666;
  }

  .social-login-btn {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    margin-top: 20px;

    img {
      width: 25px;
      margin: 8px 0px;
      background-color: #fff;
      border-radius: 50%;
    }
    span {
      font-size: 0.9em;
      font-weight: 700;
      color: #fff;
    }
  }

  .social-login-google {
    background-color: #d84938;
  }

  .social-login-github {
    background-color: #000;
  }
}
