body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f6f9;
}

#root {
  padding: 0 !important;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
